@font-face {
    font-family: 'Roboto', sans-serif;
    src: url('../../../assets/fonts/Roboto-Black.ttf');
    font-weight: 900;
}
@font-face {
    font-family: 'Roboto', sans-serif;
    src: url('../../../assets/fonts/Roboto-BlackItalic.ttf');
    font-weight: 900;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto', sans-serif;
    src: url('../../../assets/fonts/Roboto-BoldItalic.ttf');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto', sans-serif;
    src: url('../../../assets/fonts/Roboto-Bold.ttf');
    font-weight: 700;
}
@font-face {
    font-family: 'Roboto', sans-serif;
    src: url('../../../assets/fonts/Roboto-MediumItalic.ttf');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto', sans-serif;
    src: url('../../../assets/fonts/Roboto-Medium.ttf');
    font-weight: 500;
}
@font-face {
    font-family: 'Roboto', sans-serif;
    src: url('../../../assets/fonts/Roboto-Regular.ttf');
    font-weight: 400;
}
$graylight-color: #F2F2F2;
$whiteslider-color: #f8f7f7;
$titleondark: #FEFEFE;
$textondark: #F2F2F2;
$titleonwhite: #333333;
$textonwhite: #4F4F4F; 
$spanwhitecolor: #828282;
* {
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.container{
    width: 1200px;
    margin: 0 auto;
}

@import 'blocks/header';
@import 'blocks/watch';
@import 'blocks/works';
@import 'blocks/info';
@import 'blocks/pets';
@import 'blocks/feed';
@import 'blocks/testimonials';
@import 'blocks/map';
@import 'blocks/footer';
@import 'blocks/media';

